
footer {
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    position: relative;
    font-family: $main-font;
    width: 100%;
}

.footer-container ul {
    display: flex;
    color: $main-color;
    justify-content: space-between;
    list-style: none;
    font-size: $medium-size;
    padding-bottom: 50px;
    border-bottom: 1px solid $line-color;
    margin-bottom: 60px;
    margin-top: 70px;

    @media (max-width: 900px) {
        span {
            display: none;
        }
    }

   
    a {
        text-decoration: none;
        color: $main-color;

        i {
             margin: 0 10px;
            }           
    }
}